<?xml version="1.0"?>
<config>
	<modules>
		<Designcoil_CustomerComments>
			<version>0.1.0</version>
		</Designcoil_CustomerComments>
	</modules>
	<global>
        <blocks>
            <customer_comments>
                <class>Designcoil_CustomerComments_Block</class>
            </customer_comments>
        </blocks>
		<models>
			<customer_comments>
				<class>Designcoil_CustomerComments_Model</class>
				<resourceModel>customer_comments_resource</resourceModel>
			</customer_comments>
			<customer_comments_resource>
				<class>Designcoil_CustomerComments_Model_Resource</class>
				<entities>
                	<comments>
                    	<table>customer_comments</table>
                	</comments>
            	</entities>
        	</customer_comments_resource>
        </models>
		<helpers>
            <customer_comments>
                <class>Designcoil_CustomerComments_Helper</class>
            </customer_comments>
        </helpers>
        <resources>
            <customer_comments_setup>
                <setup>
                    <module>Designcoil_CustomerComments</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customer_comments_setup>
            <customer_comments_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customer_comments_write>
            <customer_comments_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customer_comments_read>
        </resources>
	</global>
    <admin>
        <routers>
			<customer_comments>
				<use>admin</use>
				<args>
					<module>Designcoil_CustomerComments</module>
					<frontName>customer_comments</frontName>
				</args>
			</customer_comments>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <customer_comments>
                    <file>customer-comments.xml</file>
                </customer_comments>
            </updates>
        </layout>
        <events>
            <adminhtml_customer_save_after>
                <observers>
                    <customer_comments>
                        <type>model</type>
                        <class>Designcoil_CustomerComments_Model_Observer</class>
                        <method>saveCustomerComment</method>
                    </customer_comments>
                </observers>
            </adminhtml_customer_save_after>
        </events>
    </adminhtml> 
</config>
